@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #f8f9fd;
}

.container {
 border-radius: 5px;
 box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
 overflow: hidden;
 width: 320px;
}

.title {
 margin: 0;
}

.subtitle {
 display: inline-block;
 margin: 4px 0px 20px;
}

.header {
 background-color: #44444b;
 color: #f8f9fd;
 padding: 30px 20px;
}

.header input {
 background-color: rgba(0,0,0,0.3);
 border: 0;
 color: #f8f9fd;
 border-radius: 30px;
 font-size: 14px;
 padding: 10px 14px;
 outline: none;
 width: 100%;
}

.user-list {
 background-color: #FFF;
 list-style-type: none;
 margin: 0;
 padding: 0;
 max-height: 400px;
 overflow-y: auto;
}

.user-list li {
 display: flex;
 padding: 20px;
}

.user-list img {
 border-radius: 50%;
 object-fit: cover;
 height: 60px;
 width: 60px;
}

.user-list .user-info {
 margin-left: 20px;
}

.user-list .user-info h4 {
 margin: 5px 0 10px;
}

.user-list .user-info p {
 font-size: 14px;
}

.user-list li:not(:last-of-type) {
 border-bottom: 1px solid #eee;
}

.user-list li.hide {
 display: none;
}

.user-list h3 {
 padding: 14px;
}